:root {
    background-color: black;
    color: white;
}
#game-group {
    width: 100%;
}
.board {
    border-collapse: collapse;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}
.board_cell {
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: bold;
    color: #555;
    padding: 10px;
    width: 100px;
    height: 60px;
}
.board_cell:hover {
    background-color: #e6e6e6;
}
.board_row_name, .board_col_name, .board_info {
    background-color: #5d88b7;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.board_row_name {
    width: 30px;
}
.board_Attacker, .board_Defender {
    color: white;
    font-size: 10px;
    padding: 1px;
}
.board_Attacker {
    background-color: #952727;
}
.board_Defender {
    background-color: #3e94aa;
}
#trace {
    color: #555;
    background-color: #f2f2f2;
}
#info {
    color: #555;
    background-color: #f2f2f2;
    font-size: 12px;
    height: 200px;
    width: 355px;
    white-space: pre-wrap;
}
#result {
    color: #555;
    background-color: #f2f2f2;
    font-size: 14px;
    height: 200px;
    width: 275px;
    white-space: pre-wrap;
}
.stats-table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color: #555;
    background-color: #f2f2f2;
    padding: 10px;
}
.stats-table td {
    border: 1px solid #ddd;
}
.stats-table th {
    border: 1px solid #ddd;
}
#damage-table {
    width: 300px;
}
#repair-table {
    width: 300px;
}
#self-destruct-help {
    width: 300px;
    white-space: pre-wrap;
}
#buttons {
    width: 660px;
    height: 75px;
}
#broker-url {
    width: 250px;
}
.board_cell_from {
    background-color: #e2dcd4;
}
.board_cell_to {
    background-color: #e9e7e2;
}
.downloads {
    background-color: #202020;
    color: #e0e0e0;
}